<mat-toolbar color="primary" class="app-container">
  <div class="left-buttons">
    <button mat-button routerLink="/">Home</button>
    <button mat-button routerLink="/payments">Payments</button>
  </div>
  <div class="spacer"></div>
  <div class="right-buttons">
    <button
      *ngIf="!authService.isAuthenticated()"
      mat-button
      routerLink="/login"
    >
      Login
    </button>
    <button *ngIf="authService.isAuthenticated()" mat-button (click)="logout()">
      Logout
    </button>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
<p-toast></p-toast>
