.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
  text-align: center;

  h2 {
    margin-bottom: 20px;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;

    mat-form-field {
      width: 100%;
      margin-bottom: 15px;
    }

    button {
      width: 100%;
    }
  }

  .register-link {
    margin-top: 15px;
    font-size: 14px;

    a {
      text-decoration: none;
      color: #3f51b5;
      font-weight: 500;
    }
  }
}
